@import '../styles/variable.scss';

.homeWrap {
    padding: 0 1rem;
    display: flex;
    span {
        flex: 1 1 auto;
        &:first-child {
            padding-right: 20px;
        }
        label {
            font-size: 18px;
        }
        h1 {
            font-size: 24px;
            margin: 20px auto 30px auto;
            font-weight: 400;
        }
        >div {
            button {
                text-transform: capitalize;
            }
        }
    }
}

.carouselWrap {
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    padding: 0;
    h2 {
        margin: 70px auto 20px auto;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .homeWrap {
        flex-flow: column;
        flex-direction: column-reverse;
        span {
            &:first-child {
                padding-right: 0;
            }
            label {
                font-size: 14px;
                display: block;
                text-align: center;
            }
            h1 {
                text-align: justify;
                font-size: 20px;
            }
            >div {
                display: flex;
                button {
                    flex: auto;
                    font-size: 12px;
                }
            }
        }
    }
    .carouselWrap {
        h2 {
            margin: 40px auto 20px auto;
            text-align: center;
            font-size: 18px;
        }
    }
}