$body-color: #F4F8FD;
$theme-color: #2CBEFF;
$secondary-color:#FBD501;
$font-family: 'system-ui';
$border-radius: 50px;
$white-color: #ffffff;
$black-color: #333C46;
$text-color: #96AABE;
$theme-custom-color: #151515;
$desc-font: #5F6368;
$bg-base-path: '';
$profile-bg: #009ADF